<!doctype html>
<html lang="en">
  <head>
      <script type="text/javascript" charset="UTF-8"
 src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraphcore.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraph.css" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block head %}

    {% endblock %}


    <title>STEM FlashCards</title>
  </head>
  <body class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">STEM cards</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Maths
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item bg-info" href="/algeb1">Algebra: adding 2 monomials</a>
              <a class="dropdown-item bg-info" href="/linerule">Finding rule of a line <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-info" href="/intersection">Finding point of intersection <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-info" href="/expand1">Binolmial multiplication <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-info" href="/pythag">Pythagorean Theorem <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-info" href="/scinotation">Scientific Notation <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-info" href="/wordprob">Age Word Problems <span><img width = '20px' src='/static/new.svg' /></span></a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item bg-success" href="/factoring1">Factoring</a>
              <a class="dropdown-item bg-success" href="/exponential">Functions: Exponential <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-success" href="/quadratic">Functions: Quadratic <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-success" href="/circle">Conics: Formula of a Circle <span><img width = '20px' src='/static/new.svg' /></span></a>

              <a class="dropdown-item disabled" href="#">New options coming soon</a>
              <!--<a class="dropdown-item disabled" href="#">Another option</a>-->
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Science
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item bg-info" href="/atom">Atoms <span><img width = '20px' src='/static/new.svg' /></span> </a>
              <a class="dropdown-item bg-info" href="/density">Density</a>
              <a class="dropdown-item bg-info" href="/force">Force (\(F=ma\)) <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-info" href="/dilution">Dilutions</a>
              <a class="dropdown-item bg-info" href="/energy">Mechanical energy</a>
              <a class="dropdown-item bg-info" href="/pressure">Pressure</a>
              <a class="dropdown-item bg-info" href="/concentration">Concentration</a>




              <div class="dropdown-divider"></div>




              <a class="dropdown-item bg-success" href="/chem1">Balancing chemical equations</a>
              <a class="dropdown-item bg-success" href="/nomenclature">Nomenclature <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-success" href="/salinity">Salinity</a>
              <a class="dropdown-item bg-success" href="/ohms">2 resistors in series</a>
              <a class="dropdown-item bg-success" href="/ohms-parallel">2 resistors in parallel</a>
              <a class="dropdown-item bg-success" href="/velocity">Velocity <span><img width = '20px' src='/static/new.svg' /></span> </a>
              <a class="dropdown-item bg-success" href="/work1">Work energy</a>
              <a class="dropdown-item bg-success" href="/work2">Work energy 2</a>
              <a class="dropdown-item bg-success" href="/heat">Heat energy</a>
              <a class="dropdown-item bg-success" href="/efficiency">Energy efficiency <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item bg-success" href="/power">Electrical Power <span><img width = '20px' src='/static/new.svg' /></span> </a>

              <a class="dropdown-item bg-success" href="/mol">Molar mass</a>
              <a class="dropdown-item bg-success" href="/eco">Mark-recapture method</a>
              <a class="dropdown-item bg-success" href="/genetics">Punnett Square 1 <span><img width = '20px' src='/static/new.svg' /></span></a>


              <a class="dropdown-item disabled" href="#">New options coming soon</a>

              <!--<a class="dropdown-item disabled" href="#">Another option</a>-->
            </div>
          </li>
        </ul>
      </div>
    </nav>


    <!-- {% set n = ['a', 'b'] %} -->
    <div class="jumbotron jumbotron-fluid bg-warning">
      <div class="container">
        <h1 class="display-4">Flash cards</h1>
        <p class="lead">Master a topic with deliberate practice.</p>
      </div>
    </div>


{% block body %}

{% endblock %}




<br>
<br>
<br>




        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>


        <script type="text/x-mathjax-config">
        MathJax.Ajax.config.path["mhchem"] =
        "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
      MathJax.Hub.Config({
        TeX: {
          extensions: ["[mhchem]/mhchem.js"]
        }
      });
    </script>


      </body>

      <!-- changes the color of answer after clicked -->
      <script type="text/javascript">
        document.querySelectorAll('.list-group-item').forEach(function(link) {
          link.onclick = function() {
            this.className += link.dataset.color;
          };
        });
      </script>

    </html>
