<!doctype html>
<html lang="en">
  <head>
      <script type="text/javascript" charset="UTF-8"
 src="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraphcore.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.99.7/jsxgraph.css" />

<script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>


<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet"/>



    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% block head %}

    {% endblock %}


    <title>STEM FlashCards</title>
  </head>
  <body class="container-fluid">

    <nav style="background-color:#121212" class="navbar navbar-expand-lg navbar-dark fixed-top">
      <a style="color:#FFFFFF" class="navbar-brand" href="#">STEM cards</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a style="color:#FFFFFF" class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a style="color:#FFA066" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Maths
            </a>
            <div style="background-color:#FFA066" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/algeb1">Algebra: adding 2 monomials</a>
              <a class="dropdown-item" href="/linerule">Finding rule of a line </a>
              <a class="dropdown-item" href="/intersection">Finding point of intersection </a>
              <a class="dropdown-item" href="/expand1">Binolmial multiplication </a>
              <a class="dropdown-item" href="/pythag">Pythagorean Theorem </a>
              <a class="dropdown-item" href="/scinotation">Scientific Notation </a>
              <a class="dropdown-item" href="/wordprob">Age Word Problems </a>

              <div class="dropdown-divider"></div>

              <a class="dropdown-item" href="/factoring1">Factoring</a>
              <a class="dropdown-item" href="/exponential">Functions: Exponential </a>
              <a class="dropdown-item" href="/quadratic">Functions: Quadratic </a>
              <a class="dropdown-item" href="/circle">Conics: Formula of a Circle </a>

              <a style="color:white;" class="dropdown-item disabled" href="#">New options coming soon</a>
              <!--<a class="dropdown-item disabled" href="#">Another option</a>-->
            </div>
          </li>

          <li class="nav-item dropdown">
            <a style="color:#2DC4B6" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Science
            </a>
            <div style="background-color:#2DC4B6" class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

            <a class="dropdown-item" href="/atom">Atoms </a>
              <a class="dropdown-item" href="/density">Density</a>
              <a class="dropdown-item" href="/force">Force (\(F=ma\)) </a>
              <a class="dropdown-item" href="/dilution">Dilutions</a>
              <a class="dropdown-item" href="/energy">Mechanical energy</a>
              <a class="dropdown-item" href="/pressure">Pressure</a>
              <a class="dropdown-item" href="/concentration">Concentration</a>




              <div class="dropdown-divider"></div>



              <a class="dropdown-item" href="/permafrost">Permafrost <span><img width = '20px' src='/static/new.svg' /></span></a>
              <a class="dropdown-item" href="/chem1">Balancing chemical equations</a>
              <a class="dropdown-item" href="/nomenclature">Nomenclature </a>
              <a class="dropdown-item" href="/salinity">Salinity</a>
              <a class="dropdown-item" href="/ohms">2 resistors in series</a>
              <a class="dropdown-item" href="/ohms-parallel">2 resistors in parallel</a>
              <a class="dropdown-item" href="/velocity">Velocity </a>
              <a class="dropdown-item" href="/work1">Work energy</a>
              <a class="dropdown-item" href="/work2">Work energy 2</a>
              <a class="dropdown-item" href="/heat">Heat energy</a>
              <a class="dropdown-item" href="/efficiency">Energy efficiency </a>
              <a class="dropdown-item" href="/power">Electrical Power </a>
              <a class="dropdown-item" href="/stoic">Stoichiometry</a>

              <a class="dropdown-item" href="/mol">Molar mass</a>
              <a class="dropdown-item" href="/eco">Mark-recapture method</a>
              <a class="dropdown-item" href="/genetics">Punnett Square 1 </a>


              <a style="color:white;"  class="dropdown-item disabled" href="#">New options coming soon</a>

              <!--<a class="dropdown-item disabled" href="#">Another option</a>-->
            </div>
          </li>
          <li class="nav-item">
            <a style="color:white;" href="https://drive.google.com/open?id=12N9whzebBuKLD35VM9clOXXKlvCJptr2gN4c8i0VoCI" class="nav-link">Contact</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick" />
              <input type="hidden" name="hosted_button_id" value="QGZQ4EG5HW8KY" />
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
              <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
              </form>
            </a>
          </li>

        </ul>
      </div>
    </nav>
    <br>
    <br>
    <br>


    <!-- {% set n = ['a', 'b'] %} -->
    <div style="background-color:#121212" class="jumbotron jumbotron-fluid">
      <div style="color:#FFFFFF" class="container">
        <h1 class="display-3">Flash cards</h1>
        <p class="lead">Master a topic with deliberate practice.</p>
      </div>
    </div>


{% block body %}

{% endblock %}





        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>


        <script type="text/x-mathjax-config">
        MathJax.Ajax.config.path["mhchem"] =
        "https://cdnjs.cloudflare.com/ajax/libs/mathjax-mhchem/3.3.2";
      MathJax.Hub.Config({
        TeX: {
          extensions: ["[mhchem]/mhchem.js"]
        }
      });
    </script>

    <footer class="fixed-bottom footer mt-auto py-3 text-center">
      <div class="container-fluid">
        <span class="text-muted">Created by Samuel Altarac. Help make this site better with a donation.</span>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="QGZQ4EG5HW8KY" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_CA/i/scr/pixel.gif" width="1" height="1" />
        </form>
      </div>
    </footer>
      </body>


      <!-- changes the color of answer after clicked -->
      <script type="text/javascript">
        document.querySelectorAll('.list-group-item').forEach(function(link) {
          link.onclick = function() {
            this.className += link.dataset.color;
          };
        });
      </script>


    </html>
