{% extends 'base.html' %}

{% block body %}



  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card">
        <div class="card-body">
          <p>
            Select a topic then, solve the question. Check your answer by clicking on "check answer" and get a tutorial video when you click on "hint". To get a new randomly generated question, click on the "new" button in the top right corner of the flash card.
          </p>
          <p>
            Get 5 correct answers in a row before moving on.
          </p>
        </div>
      </div>

    </div>

  </div>


{% endblock %}
