{% extends 'base.html' %}

{% block body %}

      <div class="col-md-6 offset-md-3">

        <div class="card">
          <h5 class="card-header">2 resistors in parallel<button class="btn btn-dark float-right" onclick="document.location.reload()">New</button></h5>
          <div class="card-body">
            <h5 class="card-title">Question</h5>


            <p class="card-text">
              <img width="100%" class="mx-auto" src="static/parallel1.png" alt="">
              <br>
              What is the total resistance and total current?
              <ul>
                <li>V = {{values[0]}} volts
                </li>
                <li>A = {{values[1]}}\( \Omega \)
                </li>
                <li>B = {{values[2]}}\( \Omega \)
                </li>
              </ul>
            </p>



            <!-- <a href="#" class="btn btn-warning">Check answer</a> -->
            <button style="background-color:#FFA066; color:white;" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter2">
              Check answer
            </button>
            <button style="background-color:#2DC4B6; color:white;" type="button" class="btn float-right" data-toggle="modal" data-target="#exampleModalCenter">
              Hint
            </button>
          </div>
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/F_vLWkkOETI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Answer</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

<p>
Total resistance = {{(1/(1/values[1] + 1/values[2]))|round(2)}} \( \Omega \)
</p>

<p>
Total current = {{(values[0]/(1/(1/values[1] + 1/values[2])))|round(2)}} Amps
</p>


</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div>
</div>
</div>

{% endblock %}
