{% extends 'base.html' %}

{% block body %}

      <div class="col-md-6 offset-md-3">

        <div class="card">
          <h5 class="card-header">Lithosphere: Permafrost<button class="btn btn-dark float-right" onclick="document.location.reload()">New</button></h5>
          <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p>
              Global temperatures have been increasing at a steady rate. Ecologists have   been hired to study the impact of increasing temperatures on a region in Northern Quebec. Which graph below correctly shows the consequence of a rise of temperature in the region? Explain your answer.
            </p>



              <div class="row">
                <div class="col-md-6">
                  <h4>A</h4>
                    <p style="font-size:11px">
                      \( CO_2 \) and \( CH_4 \) emissions VS. Year
                    </p>
                  <div id="jxgbox" class="jxgbox" style="width:100%; height:400px;">
                  </div>
                </div>
                <div class="col-md-6">
                  <h4>B</h4>
                  <p style="font-size:11px">
                    \( CO_2 \) and \( CH_4 \) emissions VS. Year
                  </p>
                  <div id="jxgbox2" class="jxgbox" style="width:100%; height:400px;">
                  </div>

                </div>
              </div>

            </div>

              <script type="text/javascript">
              var graph = JXG.JSXGraph.initBoard('jxgbox', {boundingbox: [1990, 10, 2110, -1], axis:true, KeepAspectRatio:false, showCopyright:false});
              var x = [2000,2020,2050,2090,2100];
              var y = [ {% for i in a %} {{i}}, {% endfor %} ];
              var g = graph.create('curve', [x,y], {dash:2});


              var graph2 = JXG.JSXGraph.initBoard('jxgbox2', {boundingbox: [1990, 10, 2110, -1], axis:true, KeepAspectRatio:false, showCopyright:false});
              var x = [2000,2020,2050,2090,2100];
              var y = [ {% for i in b %} {{i}}, {% endfor %} ];
              var g2 = graph2.create('curve', [x,y], {dash:2});


              </script>




            <!-- <a href="#" class="btn btn-warning">Check answer</a> -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter2">
              Check answer
            </button>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">
              Hint
            </button>
          </div>
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fPzTeWwmCLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Answer</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

<p>
Graph: {{ans}}

</p>
<p>

As temperatures rise, permafrost melts and releases CO2 and CH4 that is stored in the frozen ground.
</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div>
</div>
</div>

{% endblock %}
