{% extends 'base.html' %}

{% block body %}

      <div class="col-md-6 offset-md-3">

        <div class="card">
          <h5 class="card-header">Functions: Quadratics<button class="btn btn-dark float-right" onclick="document.location.reload()">New</button></h5>
          <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p>What is the formula of the quadratic function (in function form) given that V=({{p1[0]}}, {{p1[1]}}) and P=({{p3[0]}}, {{p3[1]}})?
              $$
              y=a(x-h)+k
              $$

            </p>
            <p>

              <div id="jxgbox" class="jxgbox" style="width:100%; height:400px;">

              </div>

              <script type="text/javascript">
              var b = JXG.JSXGraph.initBoard('jxgbox', {boundingbox: [-20, 20, 20, -20], axis:true, KeepAspectRatio:true});
              p = b.create('point',{{p1}},{size:4,name:'V', fixed:true});
              p2 = b.create('point',{{p3}},{size:4,name:'P', fixed:true});
              f = b.create('functiongraph', [function(x){return {{a}}*Math.pow((x-p.X()),2)+p.Y();}]);



    //           var p1 = b.createElement('point',[0,0], {name:'A',size: 4, face: 'o', fixed:true});
    //           var p2 = b.createElement('point',[0,0], {name:'B',size: 4, face: 'o', fixed:true});
    //           p2.moveTo({{p1}},500)
    //           var ci2 = b.createElement('circle',[p1,p2],
    // {strokeWidth:3, dash:2, fillColor:'#ffff00', fillOpacity:0.3});


              </script>

            </p>


            <!-- <a href="#" class="btn btn-warning">Check answer</a> -->
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter2">
              Check answer
            </button>
            <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">
              Hint
            </button>
          </div>
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/UKkOAbz0UPE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Answer</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

<p>
Circle:
</p>
<p>

$$

y={{sol}}

$$

</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div>
</div>
</div>

{% endblock %}
