{% extends 'base.html' %}

{% block body %}

{% set F = values[0] %}
{% set d = values[1] %}
{% set m = values[2] %}
{% set g = 9.8 %}

      <div class="col-md-6 offset-md-3">

        <div class="card">
          <h5 class="card-header">Mechanical energy<button class="btn btn-dark float-right" onclick="document.location.reload()">New</button></h5>
          <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p class="card-text">

              A box of mass {{m}} Kg is pushed horizontally with a steady force of {{F}} N. It travels a distance of {{d}} meters. How much energy did it take to displace the box?

            </p>
            <div id="canvasHolder">

            </div>
            <!-- <a href="#" class="btn btn-warning">Check answer</a> -->
            <button style="background-color:#FFA066; color:white;" type="button" class="btn" data-toggle="modal" data-target="#exampleModalCenter2">
              Check answer
            </button>
            <button style="background-color:#2DC4B6; color:white;" type="button" class="btn float-right" data-toggle="modal" data-target="#exampleModalCenter">
              Hint
            </button>
          </div>
        </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Hint</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/2WS1sG9fhOk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Answer</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  Work energy = {{F*d}} J

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
</div>
</div>
</div>
</div>
<script type="text/javascript">

  let i = 0;

  function setup() {

    var cnv = createCanvas(500, 315);
    cnv.parent('canvasHolder');
    background(255, 255, 255);
    line(0, 120, width, 120);

  }

  function draw() {
    background(255, 255, 255);
    line(0, 120, width, 120);
    let v1 = createVector(120+i, 100);
    let v2 = createVector(100, 0);


    fill(204, 101, 192, 127);
    stroke(127, 63, 120);
    rect(40+i, 80, 120, 40);

    drawArrow(v1, v2, 'black');
    fill(0,0,0);
    text('{{F}} N', 180+i, 95);




    i+=1;
    if(i > 150){

      sleep(2000);
      i=0;

    }
  }

  function drawArrow(v1, v2, myColor) {
  push();
  stroke(myColor);
  strokeWeight(3);
  fill(myColor);
  translate(v1.x, v1.y);
  line(0, 0, v2.x, v2.y);
  rotate(v2.heading());
  let arrowSize = 7;
  translate(v2.mag() - arrowSize, 0);
  triangle(0, arrowSize / 2, 0, -arrowSize / 2, arrowSize, 0);
  pop();
}


function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}



</script>

{% endblock %}
